



<web-app>  
<servlet>  
<servlet-name>yogesh</servlet-name>  
<servlet-class>FirstServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>yogesh</servlet-name>  
<url-pattern>/first</url-pattern>  
</servlet-mapping>  

<servlet>  
<servlet-name>ayush</servlet-name>  
<servlet-class>SecondServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>ayush</servlet-name>  
<url-pattern>/second</url-pattern>  
</servlet-mapping> 
</web-app>  